<!DOCTYPE html>
<html>
  <title>2018--Happy New Year</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <!-- Bootstrap -->
    <link rel='stylesheet' href='/lottery/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/lottery/stylesheets/style.css' />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
      <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        body {
            padding: 0;
            margin: 0;
        }
        .lotterybox{
            height: 100%;
        }
    </style>
  <body>
  	<div class="container-fluid">
  		<div class="row-fulid">
  			<div class="col-12">
  				<img class="img-responsive" src="/lottery/images/welcome.jpg" style=" margin-top: 20px;">
  			</div>
  		</div>
  	</div>
    <!-- Zepto or jQuery/lottery/stylesheets/style.css -->
    <script src="/lottery/javascripts/jquery-1.11.2.min.js"></script>
    <script src="/lottery/javascripts/bootstrap.min.js"></script>

  </body>
</html>
